.env
docker-compose.override.yml
.vscode
Thumbs.db
Thumbs.db:encryptable
Desktop.ini
.DS_Store
sw_platform_src
/app
/var
/bin
/.web-server-pid

sw_platform_src

# Custom configurations and caches
.vscode
Thumbs.db
Thumbs.db:encryptable
Desktop.ini
.DS_Store

# Secrets
.env.local

# Upstream ignore directives
plugins
node_modules
vendor
data
wp_data
wordpress
.wp-cli
!.wp-cli/cache
.idea
.svn

themes/twentytwentytwo
themes/twentytwentythree
themes/twentytwentyfour
themes/twentytwentyfive