.env
docker-compose.override.yml
node_modules
vendor
.vscode
.idea
Thumbs.db
Thumbs.db:encryptable
Desktop.ini
.DS_Store
sw_platform_src
/app
/var
/bin
/.web-server-pid

vendor
node_modules

sw_platform_src

# Configurations and caches
.idea
.vscode
Thumbs.db
Thumbs.db:encryptable
Desktop.ini
.DS_Store

# Secrets
.env
.env.local

