:root {
--mochaMousse: #a47864;
--lighterMousse: #d1a28d;
--lightestFoam: #eed5ae;
--blackishBrown: #391704;
--darkLeather: #471b03;
--brownishFoam: #ffc6a6;
--lightBeigePink: #dcc5b5;
--darkBrown: #8f705f;
--darkRedBrown: #51301d;
--earthyMiddleBrown: #9a6a4b;
--earthyLighterTone: #d8c3a1;
--whitishBeige: #fdebcb
}